.Carousel-Container{
    margin-top: 50px;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}


.carousel-initialized{
    overflow:hidden;

} 
.carousel-track{
    position:inherit;

}
/* *{
    border: 1px solid red;
} */
.slider__content{
    overflow: hidden;
    width: 80%;
    z-index: 2;
    padding: 5px 0px;
 
}

.slideWraper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.slider_img_container{
width: 350px;
height: 350px;
margin: 30px;
}
.sliderimg{
    width: 100%;
    object-fit: contain;
    cursor:grab;
}
.sliderimg:active{
cursor:grabbing;
}

.slide_title{
    margin: 10px 0px;
    display:block;
}
.slide__detail{
    width: 40%;
    cursor:grab;
}
.slide__detail:active{
    cursor:grabbing;
}

.carousel-prev::before {
    background-image: url(https://img.icons8.com/cotton/344/circled-left--v2.png);
    scale: 2;
}

.carousel-next::before{
    scale: 2;
    rotate: 180deg;
    background-image: url(https://img.icons8.com/cotton/344/circled-left--v2.png);
}
.slide__detail_text{
    display: flex;
    width: 50%;
    justify-content: space-around;


}

.imgsSlider{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 20px;
    display: inline-block;
}

.close{
    position: absolute;
    top: 50px;
    right: 200px;
    width: 25px;
    font-size: 20px;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
}



.visor{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visor__img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}
@media(max-width:850px) {
    .slider__content{
        width: 100%;
    }
    .slideWraper{
        width: 100%;
     
    }
    .slide__detail{
        width: 100%;
        margin: 0px 80px;
        padding: 0px;
    }
}