:root{
    --shadow:0 0px 5px rgba(0,0,0,0.3);
    --gray-color:var(--dark-gray);
    --dark-gray: #4f4f4f;
    --primary: #30e3ca;
    --btn-prmary-color:var(--primary);
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;

    --text-gray: #ababab;
}
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Yantramanav', sans-serif;
}

.header{
    width: 100%;
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    padding: 10px 20px;
    box-shadow: var(--shadow);
    z-index: 1;
}


.logoIMG{
    width: 35px;
    margin: 0 20px 0 60px;
}
.header ul{
    display: flex;
}

.header h1{

color: black;
}
.active-link{
    border-bottom: 2px solid var(--btn-prmary-color);
    background-color: var(--btn-prmary-color);
}

.header ul li a {
    display: flex;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.header ul li a:hover {

    border-bottom: 2px solid var(--btn-prmary-color);
}
.containerComponents{
width: 100%;
padding: 50px 20px;
margin: auto;
height: 90vh;
}
.addToCart{
    background-color: var(--btn-prmary-color);
    border: 0;
    color: white;
    font-size: 15px;
    margin: 20px 0px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.addToCart:hover{
    transform:scale(1.02);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.468);
}
.favorite{
    color: #000;
    padding:5px;
    cursor: pointer;
    background-color: #fff;
    transition: background 100ms ease-in-out;
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow:0 0px 5px rgba(0,0,0,0.3);
}


.favorite-selected{
    background-color:#30e3ca;
}

.home__container__card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    padding: 30px 50px;
    justify-content: flex-start;

}

.card-home__header{
    height: 200px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.card-home{
    width: 270px;
    min-height:500px ;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.50);
    margin: 20px;
    border-radius: 5px;
    transition: margin 500ms ease;
}

.card-wish{
    width: 270px;
    min-height:500px ;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.50);
    margin: 20px;
    border-radius: 5px;

}


.card-home:hover{
    margin-top: -20px;

}
.product-info{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
    justify-content: center;
}
.col{
    width: 400px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

.imgenDetail{
    width: 300px;
}

.product-info__name{
    padding: 20px 0px;
}

.product-info_description{
    font-size: 15px;
    text-align: justify;
    margin: 20px 0px;
}

.product-info__descripcion__body{
display: flex;
justify-content: space-between;
line-height: 20px;

}

.product-info__price-label{
font-size: 13px;
font-weight: 600;
color: gray;
}
.product-info__price__value::before{
    content: '$ ';
}
.product-info__price__value{
    font-weight: 600;
}
.car-home__body{
    display: flex;
    flex-wrap: wrap;
}
.product-info__quantity-label{
    font-size: 13px;
font-weight: 600;
color: gray;
}
.product-info__quantity-{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-home__name{
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    padding: 20px 0px;
    color: var(--dark-gray);
    cursor: pointer;
}

.card-home__description{
    margin-bottom: 15px;
    font-size: 13px;
}
.card-home__price{
    font-weight: 100;
    font-size: 15px;
    color:var(--gray);
}

.card-home__price-value{
    color: var(--dark-gray);
    font-size: 15px;
    font-weight: bold;
}

.card-home__price-value::before{
    content: '$ ';
}
.btn{
    cursor: pointer;
    padding: 10px 20px;
}
.card-home__btn{
    border-radius: 50%;
    border: 0;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    aspect-ratio: 1;
    background-color: var(--primary);
    margin-left: 80%;
    cursor: pointer;
}

.card-home__footer{
    width: 100%;

    padding: 10px;

}


.login__error{
    background-color: #30e3ca;
    width: 100%;
    padding: 10px;
}

.wish-list-item{
    font-size: 11px;
    line-height: 20px;
    color: var(--dark-gray);
}

.fa-solid sup{
    font-weight: 700;
    
}

.cart{
    margin-top: 100px;
}
.card-container-similar-products{
    width: 100%;
    display: flex;
    justify-content: center;

}

.card-container-similar-products .card-home{
    background-color: white;
}
.container-similar-products{
    padding: 50px;
    background-color: #1A7A6E;
}
.similar-products-Title{
    font-size: 40px;
    color: white;
    display: block;
    width: 100%;
    padding: 20px;
}

